.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: white;
  text-align: center;
}

header {
  font-size: 60px;
  /* margin: 0; */
}

h1 {
  margin: 0;
}

h2 {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  border: 1px solid wheat;
  border-radius: 3px;
  width: 80%;
  padding: 4px 0;
  margin-left: 10%;
}

.planet-card {
  display: inline-block;
}

.mercury {
  width: 50px;
}

.venus {
  width: 100px;
}

.earth {
  width: 120px;
}

.mars {
  width: 80px;
}

.jupiter {
  width: 240px;
}

.saturn {
  width:200px;
}

.uran {
  width: 90px;
}

.neturn {
  width: 85px;
}

.container-mission {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin-left: 10%;
}

.mission-card {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: larger;
  border: 1px solid white;
  padding: 30px 0;
  border-radius: 3px;
  margin: 10px;
}

.mission-name {
  font-size: 25px;
  margin: 0;
}